body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #121212; 
    color: white;
}

.titulo {
    font-size: 28px; 
    color: #FFD700; 
    margin-bottom: 15px;
}


#tabuleiro {
    display: grid;
    grid-template-columns: repeat(7, 90px);
    grid-template-rows: repeat(7, 90px);
    gap: 5px;
    background-color: #222; 
    padding: 10px;
    border-radius: 10px;
}


.casa {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a; 
    border: 1px solid rgb(99, 96, 96);
    cursor: pointer;
    border-radius: 10px;
}


.azul {
    background-color: rgb(15, 210, 190); 
}

.vermelho {
    background-color: rgb(230, 20, 50); 
}


.destacada {
    background-color: rgb(70, 70, 65);
}


.ultima {
    border: 3px solid #FFD700;
}


#mensagem {
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

/* Cores das mensagens */
.mensagem-azul {
    color: rgb(15, 210, 190) !important;
}

.mensagem-vermelho {
    color: rgb(230, 20, 50) !important;
}
